* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #8414BC 0%, #ffffff 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8414BC 0%,#ffffff 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8414BC 0%,#ffffff 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
}
    .logo {
        margin-top: 1.5em;
        margin-left: 7.6em;
        width: 250px;
        height: 50px;
    }
    /*barra de navegacion*/
    nav {
        width: 100%;
        margin-top: 1em;
        margin-right: 6em;
    }
        nav ul {
            justify-content: flex-end;
            display: flex;
            list-style: none;
            }
            nav ul li {
                text-align: center;
                font-family: varela-round, sans-serif;
                color: #1F86CB;
            }
            nav ul li:hover {
                color: #1FCBA3;
            }
                nav a:hover {
                    color: #1FCBA3;
                }
                nav ul li a {
                    display: flex;
                    padding: 20px 20px;
                    color: #1F86CB;
                    text-decoration: none;
                    font-size: 120%;
                }
    /*fin de barra de navegacion*/
/*Formulario de compra*/
.form_cont{
    width: 60%;
    height: 36em;
    margin: auto;
    background: -moz-linear-gradient(top, #1FCBA3 25%, #1F86CB 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1FCBA3 25%,#1F86CB 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1FCBA3 25%,#1F86CB 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
h3{
    color: #8414BC;
    font-size: 150%;
    font-weight: bold;
    font-family: Quicksand, sans-serif;
    margin: .3em 0 0 .5em;
}
img{
    width: 200px;
    height: 300px;
    float: right;
    margin: -14.47em .5em 0 0;
}
ul{
    list-style: none;
}
.form_cont ul li {
    color: #fff;
    font-size: 110%;
    font-family: mada, sans-serif;
    margin: 0 0 .3em .5em;
}
.radio1{
    margin-left: .6em;
}
.radio2{
    margin-left: .2em;
}
.radio3{
    margin-left: .6em;
}
.radio4{
    margin-left: .7em;
}
.radio5{
    margin-left: .2em;
}
input{
    background-color: #8414BC;
    color: #fff;
    margin: auto;

}
.obj_tit{
    color: #8414BC;
    font-family: mada, sans-serif;
    font-weight: bold;
    margin-right: .3em;
}
.dig{
    margin-left: 10.15em;
}
.btn_comp {
    width: 25%;
    margin: 2em 0 0 37.5%;
    color: #fff;
    background-color: #8414BC;
    font-size: 120%
}
.input_name{
    margin-left: 1.4em;
}
.input_last{
    margin-left: 1.39em;
}
.input_email{
    margin-left: 2.85em;
}
.input_dir{
    margin-left: .8em;
}
h5{
    color: #8414BC;
    font-size: 120%;
    font-family: mada, sans-serif;
    margin: 1em 0 0 .5em;
}
.precio_tot{
    color: #fff;
    font-size: 110%;
    font-family: mada, sans-serif;
}
.env{
    color: #fff;
    font-size: 110%;
    font-family: mada, sans-serif;
    margin: 0 0 .3em 5em;
}
/*footer*/
footer  {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #ffffff 25%, #8414BC 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 25%,#8414BC 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 25%,#8414BC 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
 .footer {
     align-content: center;
    margin: auto;
    width: 98%;
 }
    footer img {
        width: 140px;
        height: 30px;
        margin-right: 33em;
        margin-top: -.38985em;
    }
    footer ul {
        position: relative;
        list-style: none;
        display: flex;
        list-style: none;
        margin: auto;
        margin-top: 1.5em;
        margin-right: 9em;
        width: 80%;
    }
    
        footer ul li {
            text-align: center;
            padding-left: 2em;
        }
            footer ul li a {
                color: #1FCBA3;
                text-decoration: none;
                font-family: varela-raund, sans-serif;
                font-weight: bold;
            }
            footer a:hover {
                color: #1F86CB;
            }