* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #8414BC 0%, #ffffff 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8414BC 0%,#ffffff 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8414BC 15%,#ffffff 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
}
    .logo {
        margin-top: 1.5em;
        margin-left: 7.6em;
        width: 250px;
        height: 50px;
    }
    /*barra de navegacion*/
    nav {
        width: 100%;
        margin-top: 1em;
        margin-right: 6em;
    }
        nav ul {
            justify-content: flex-end;
            display: flex;
            list-style: none;
            }
            nav ul li {
                text-align: center;
                font-family: varela-round, sans-serif;
                color: #1F86CB;
            }
            nav ul li a:hover {
                color: #1FCBA3;
            }
            .pagos {
                color: #1FCBA3;
            }
            .pagos:hover {
                color: #1F86CB;
            }
                nav ul li a {
                    display: flex;
                    padding: 20px 20px;
                    color: #1F86CB;
                    text-decoration: none;
                    font-size: 120%;
                }
    /*fin de barra de navegacion*/
.total  {
    width: 100%;
    height: max-content;
    margin: .3em;
    margin-left: 1em;
    margin-top: .3em;
}
    #titulo{
    position: relative;
    display: block;
    width: 90%;
    margin: .3em;
    font-size: 150%;
    font-family: varela-rund, sans-serif;
    color: #fff;
}
    a {
        text-decoration: none;
}
.portada {
    width: 190px;
    height: 290px;
    border-radius: .2em;
    margin-left: 3em;
}
        .par, .impar {
            background-color: #1F86CB;
            width: 300px;
            height: 460px;
            position: relative;
            display: inline;
            float: left;
            margin:.3em;
            }
        .impar {
            background-color: #1FCBA3;
        }
        .price {
            position: relative;
            padding: .7%;
            background-color: #8414BC;
            border-radius: .7em;
            font-size: 120%;
            width: max-content;
            height: 1em;
            text-align: center;
        }
        p {
            color: #ffffff;
            margin: .3em;
            margin-bottom: 0;
            font-size: 80%;
            text-align: center;
            font-family: mada, sans-serif;
        }
        .transparent {
            color: rgba(132,20,188, 0.5);
            display: block;
            background-color: rgba( 250, 250, 250 ,.5);
            width: max-content;
            margin: auto;
            padding: .1em;
            border-radius: 4em;
        }
        .transparent:hover{
            color: #8414BC;
            background-color: #fff;
        }
        span {
            float: right;
            color: #8414BC;
        }
        em {
                color: #fff;
                float: right;
            }
        
/*footer*/
footer  {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #ffffff 35%, #8414BC 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 35%,#8414BC 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 35%,#8414BC 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
 .footer {
     align-content: center;
    margin: auto;
    width: 98%;
 }
    footer img {
        width: 140px;
        height: 30px;
        margin-right: 33em;
        margin-top: -.38985em;
    }
    footer ul {
        position: relative;
        list-style: none;
        display: flex;
        list-style: none;
        margin: auto;
        margin-top: 1.5em;
        margin-right: 9em;
        width: 80%;
    }
    
        footer ul li {
            text-align: center;
            padding-left: 2em;
        }
            footer ul li a {
                color: #1FCBA3;
                text-decoration: none;
                font-family: varela-raund, sans-serif;
                font-weight: bold;
            }
            footer a:hover {
                color: #1F86CB;
            }
            #pagos {
                color: #1F86CB;
            }
            #pagos:hover {
                color: #1FCBA3;
            }