* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #8414BC 0%, #ffffff 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8414BC 0%,#ffffff 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8414BC 0%,#ffffff 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
}
    .logo {
        margin-top: 1.5em;
        margin-left: 7.6em;
        width: 250px;
        height: 50px;
    }
    /*barra de navegacion*/
    nav {
        width: 100%;
    }
        ul {
            justify-content: flex-end;
            display: flex;
            width: 80%;
            margin: 0 auto;
            padding: 0;

            }
            li {
                text-align: center;
                display: inline-block;
                list-style: none;
                font-family: varela-round, sans-serif;
                padding: .3em;
                color: #1F86CB;
            }
            li:hover {
                border-bottom: #1FCBA3 solid 2px;
            }
                nav ul li a {
                    display: flex;
                    padding: 20px 20px;
                    color: #1F86CB;
                    text-decoration: none;
                    font-size: 120%;
                }
                    nav ul ul {
                        position: relative;
                        display: block;
                        background: -moz-linear-gradient(top, #ffffff 25%,#8414BC 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, #ffffff 25%,#8414BC 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, #ffffff 25%,#8414BC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        transform: translateX(60%);
                        opacity: 0;
                        transition: all .3s;
                        z-index: 10;
                    }
                        header ul li:hover ul {
                            opacity: 1;
                            transform: translateX(0%);
                        }
    /*fin de barra de navegacion*/
    /*banner*/
    .banner {
        position: absolute;
        margin-top: 5.95em;
        width: 100%;
        height: 470px;
        background-size: 100% 100%;
        animation: banner 10s infinite;
        animation-direction: alternate;
    }
        @keyframes banner {
            0%, 30% {
                background-image: url(images/main_visual.png);
                opacity: 1;
            }
            31%, 34% {
                opacity: 0.1;
            }
            35%, 65% {
                background-image: url(images/banner1.jpg);
                opacity: 1;
            }
            66%, 69% {
                opacity: 0.1;
            }
            70%, 100% {
                opacity: 1;
                background-image: url(images/banner2.jpg);
            }
        }
    /*fin del banner*/    
/*main*/
.portada {
    position: relative;
    display: inline;
    width: 150px;
    height: 250px;
    border-radius: .2em;
    margin-left: 3em;
}
.titulo{
    position: relative;
    display: block;
    width: 90%;
    margin: .3em;
    font-size: 150%;
    font-family: varela-rund, sans-serif;
    color: #fff;
}
 .top {
    position: relative;
    margin: auto;
    margin-top: 21em;
    width: 80%;
    font-family: pt-sans, sans-serif;
    font-style: italic;
    font-size: 150%;
    color: #1F86CB;
}
    .topp {
        float: left;
        }
    .topg {
        float: right;
    }
    .toppagos {
        float: left;
        position: relative;
        width: 48%;
        height: max-content;
    }
    .topgratis {
        float: right;
        position: relative;
        width: 48%;
        height: max-content;
    }
    .par, .impar {
        background-color: #1F86CB;
        width: 100%;
        height:max-content;
        }
    .impar {
        background-color: #1FCBA3;
    }
    .topgratis .par {
        background-color: #1FCBA3;
    }
    .topgratis .impar{
        background-color: #1F86CB;
    }
    p {
        position: relative;
        float: right;
        display: inline-flex;
        color: #ffffff;
        margin: .3em;
        margin-bottom: 0;
        font-size: 80%;
        text-align: center;
        font-family: mada, sans-serif;
    }
/*.tops {
    position: relative;
}
        .toppagos ul {
            float: left;
            width: 48%;
            position: relative;
            list-style: none;
            margin-left: 1%;
            padding-top: 1%;   
        }
            .toppagos ul li {
                display: inline-block;
                margin-bottom: 3%;
                margin-right: 2%;
                margin-left: 3%;
            }
            .toppagos ul li:nth-child(odd) {
                background-color: #1FCBA3;
            }
            .toppagos ul li:nth-child(even) {
                background-color: #1F86CB;
            }
                .toppagos ul li img {
                    float: left;
                    margin-right: 1%;
                    margin-left: -1%;
                }
                .toppagos ul li p {
                    text-align: center;
                    padding-top: 2.5%;
                    color: #ffffff;
                    font-family: mada, sans-serif;
                }
                    .toppagos ul li p a {
                        font-size: 150%;
                        color: #8414BC;
                        font-weight: bold;
                        font-family: varela-round, sans-serif;
                        text-decoration: none;
                    }
                    .toppagos ul li p a:hover {
                        color: #ffffff;
                    }
        .topgratis ul {
            position: relative;
            float: right;
            width: 48%;
            list-style: none;
            margin-right: 1%;
            padding-top: 1%;
        }
            .topgratis ul li {
                display: inline-block;
                margin-bottom: 3%;
                margin-right: 2%;
                margin-left: 3%;
            }
            .topgratis ul li:nth-child(even) {
                background-color: #1FCBA3;
            }
            .topgratis ul li:nth-child(odd) {
                background-color: #1F86CB;
            }
                .topgratis ul li img {
                    float: left;
                    margin-right: 1%;
                    margin-left: -1%;
                }
                .topgratis ul li p {
                    text-align: center;
                    padding-top: 2.5%;
                    color: #ffffff;
                    font-family: mada, sans-serif;
                }
                    .topgratis ul li p a {
                        font-size: 150%;
                        color: #8414BC;
                        font-weight: bold;
                        font-family: varela-round, sans-serif;
                        text-decoration: none;
                    }
                    .topgratis ul li p a:hover {
                        color: #ffffff;
                    } */
/*footer*/                   
footer  {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #ffffff 0%, #8414BC 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#8414BC 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 25%,#8414BC 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
    footer img {
        width: 140px;
        height: 30px;
        margin-right: 33em;
        margin-top: -.38985em;
    }
    footer ul {
        position: relative;
        list-style: none;
        display: flex;
        list-style: none;
        margin: auto;
        margin-top: 1.5em;
        margin-right: 9em;
        width: 80%;
    }
    
        footer ul li {
            text-align: center;
            padding-left: 2em;
        }
            footer ul li a {
                color: #1F86CB;
                text-decoration: none;
                font-family: varela-raund, sans-serif;
                font-weight: bold;
            }
            footer a:hover {
                color: #1FCBA3;
            }