* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #8414BC 0%, #ffffff 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8414BC 0%,#ffffff 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8414BC 0%,#ffffff 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
}
    .logo {
        margin-top: 1.5em;
        margin-left: 7.6em;
        width: 250px;
        height: 50px;
    }
    /*barra de navegacion*/
    nav {
        width: 100%;
        margin-top: 1em;
        margin-right: 6em;
    }
        nav ul {
            justify-content: flex-end;
            display: flex;
            list-style: none;
            }
            nav ul li {
                text-align: center;
                font-family: varela-round, sans-serif;
                color: #1F86CB;
            }
            nav ul li:hover {
                color: #1FCBA3;
            }
            
            nav ul .category {
                margin-top: 1.05em;
                font-size: 120%;
            }
                .category ul li a {
                    font-size: 80%;
                }
                nav a:hover {
                    color: #1FCBA3;
                }
                nav ul li a {
                    display: flex;
                    padding: 20px 20px;
                    color: #1F86CB;
                    text-decoration: none;
                    font-size: 120%;
                }
                    nav ul ul {
                        position: relative;
                        display: block;
                        background: -moz-linear-gradient(top, #ffffff 25%,#8414BC 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, #ffffff 25%,#8414BC 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, #ffffff 25%,#8414BC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        transform: translateX(60%);
                        opacity: 0;
                        transition: all .3s;
                        z-index: 10;
                    }
                        header ul li:hover ul {
                            opacity: 1;
                            transform: translateX(0%);
                        }
    /*fin de barra de navegacion*/
.total {
    position: relative;
    margin: auto;
    margin-top: .8em;
    margin-bottom: .8em;
    width: 90%;
}
    .total table {
        margin: auto;
        width: 100%;
    }
        .total table .uno td:nth-child(odd) {
            background-color: #1F86CB;
            }
        .total table .uno td:nth-child(even) {
            background-color: #1FCBA3;
        }
        .total table .dos td:nth-child(even) {
            background-color: #1F86CB;
            }
        .total table .dos td:nth-child(odd) {
            background-color: #1FCBA3;
        }
            .total tr td {
                padding: 1%;
            }
                .total tr td img {
                    position: relative;
                    margin-top: 4%;
                    margin-left: 21%;
                }
                .total tr td .free {
                    position: relative;
                    padding: .7%;
                    background-color: #04b404;
                    border-radius: .7em;
                    font-size: 115%;
                    width: max-content;
                    height: 1em;
                    text-align: center;
                    padding-bottom: .11%;
                }
                .total tr td p {
                    color: #ffffff;
                    margin-top: 1.5%;
                    text-align: center;
                    font-family: mada, sans-serif;
                }
                .njuego {
                    float: left;
                    width: 90%;
                    font-size: 120%;
                    font-family: varela-rund, sans-serif;
                }
                .njuego:hover {
                    color: #8414BC;
                }
                .total tr td span {
                    float: right;
                    color: #ffffff;
                }
                .total tr td em {
                    color: #ffff00;
                    float: right;
        }
/*footer*/
footer  {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #ffffff 0%, #8414BC 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#8414BC 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 25%,#8414BC 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
 .footer {
     align-content: center;
    margin: auto;
    width: 98%;
 }
    footer img {
        width: 140px;
        height: 30px;
        margin-right: 33em;
        margin-top: -.38985em;
    }
    footer ul {
        position: relative;
        list-style: none;
        display: flex;
        list-style: none;
        margin: auto;
        margin-top: 1.5em;
        margin-right: 9em;
        width: 80%;
    }
    
        footer ul li {
            text-align: center;
            padding-left: 2em;
        }
            footer ul li a {
                color: #1F86CB;
                text-decoration: none;
                font-family: varela-raund, sans-serif;
                font-weight: bold;
            }
            footer a:hover {
                color: #1FCBA3;
            }