* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #8414BC 15%, #ffffff 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8414BC 15%,#ffffff 70%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8414BC 15%,#ffffff 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
}
    .logo {
        margin-top: 1.5em;
        margin-left: 7.6em;
        width: 250px;
        height: 50px;
    }
    /*barra de navegacion*/
    nav {
        width: 100%;
        margin-top: 1em;
        margin-right: 6em;
    }
        nav ul {
            justify-content: flex-end;
            display: flex;
            list-style: none;
            }
            nav ul li {
                text-align: center;
                font-family: varela-round, sans-serif;
                color: #1F86CB;
            }
            nav ul li:hover {
                color: #1FCBA3;
            }
                nav a:hover {
                    color: #1FCBA3;
                }
                nav ul li a {
                    display: flex;
                    padding: 20px 20px;
                    color: #1F86CB;
                    text-decoration: none;
                    font-size: 120%;
                }
                .registrarse1{
                    color: #1FCBA3;
                }
                .registrarse1:hover{
                    color: #1F86CB;
                }
    /*fin de barra de navegacion*/
h2 {
    position: relative;
    margin: auto;
    font-size: 250%;
    font-family: pt-sans, sans-serif;
    color: #8414BC;
    width: 40%;
    text-align: center;
}    
form  {
    position: relative;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    width: 40%;
    background: -moz-linear-gradient(top, #1FCBA3 25%, #1F86CB 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1FCBA3 25%,#1F86CB 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1FCBA3 25%,#1F86CB 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 2%;
    font-family: varela-round, sans-serif;
    color: #ffffff;
}
    .nombre {
        margin-left: 15%;
        font-size: 130%;
    }
    .apellido {
        margin-left: 15%;
        font-size: 130%;
    }
    .email {
        margin-left: 15%;
        font-size: 130%;
    }
    .contraseña {
        margin-left: 15%;
        font-size: 130%;
    }
    .repetircontraseña {
        margin-left: 15%;
        font-size: 130%;
    }
input {
    margin: 1% 0% 2.2% 27%;
    width: 40%;
    height: 4%;
    background-color: #8414BC;
    color: #ffffff;
    padding: 1.5%;
}
    .registrar {
        margin: 5% 0 0 4.5%;
        width: 90%;
        height: 40px;
        background-color: #8414BC;
        font-size: 115%;
        font-family: quicksand, sans-serif;
        font-weight: bold;
}
.registrar:hover{
    background-color: #ffffff;
    color: #8414BC;
}
/*footer*/
footer  {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 5em;
    background: -moz-linear-gradient(top, #ffffff 35%, #8414BC 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 35%,#8414BC 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 35%,#8414BC 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
 .footer {
     align-content: center;
    margin: auto;
    width: 98%;
 }
    footer img {
        width: 140px;
        height: 30px;
        margin-right: 33em;
        margin-top: -.38985em;
    }
    footer ul {
        position: relative;
        list-style: none;
        display: flex;
        list-style: none;
        margin: auto;
        margin-top: 1.5em;
        margin-right: 9em;
        width: 80%;
    }
    
        footer ul li {
            text-align: center;
            padding-left: 1em;
        }
            footer ul li a {
                color: #1FCBA3;
                text-decoration: none;
                font-family: varela-raund, sans-serif;
                font-weight: bold;
            }
            footer a:hover {
                color: #1F86CB;
            }
            .registrarse{
                color: #1F86CB;
            }
            .registrarse:hover{
                color: #1FCBA3
            }